#signup{
    display:flex;
    justify-content: center;
}
#signup form{
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#signup form div{
    width:100%;
}
#signup form div label{
    display:block;
    font-size: 15px;
    margin:10px;
}
#signup form div input{
    width:100%;
    line-height: 30px;
    padding:5px;
    border-radius: 8px;
}
#signup button{
    width:40%;
    background: transparent;
    padding:10px;
    margin:10px;
    border-radius: 8px;
}
